        <!-- custom code snippet for Upsell items collection -->
        {% if cart != empty and settings.upsell_collection != blank %}
          {% assign upsell = '' %}
          {% for product in settings.upsell_collection.products %}
          {% capture upsell %}  
          {{upsell}}  
          {% assign upsellVariant = product.selected_or_first_available_variant %}
          {% assign isUpsell = false %}
          {% for item in cart.items %}
              {% if item.variant_id == upsellVariant.id %}
                {% assign isUpsell = true %}
                {%- break -%}
              {% endif %}
          {% endfor %}
          
          {% if isUpsell == false %}
          <ul>  
            <li>
              <div class="upsell-item__single">
                <div class="upsell-item__info-wrapper">
                  <div class="upsell-item__image" style="background-image: url({{ product.images.first | default: item.product.featured_image | img_url: "300x" }});"></div>
                  <div class="upsell-item__info">
                    <div class="upsell-item__title">{{ product.title }}</div>
                    <div class="upsell-item__price">
                      <span>{{ product.price | money }}</span>
                      <span class="upsell-item_compare_at_price">{{ product.compare_at_price | money }}</span>
                    </div>
                    <div class="upsell-item_discount_perc"><span>{% if product.compare_at_price > product.price %}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}% OFF{% endif %}</span></div>
                  </div>
                    <div class="upsell-item-add-to-cart">
                      <product-form>
                      {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                        <input type="hidden" id="quantity" name="quantity" value="1">
                        <button type="submit" name="add" class="upsell-add-to-cart-btn button" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                          <span>+ ADD</span>
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                          </div>
                        </button>
                      {%- endform -%}
                      </product-form>
                    </div>
                </div>
              </div> 
            </li>
          </ul>                 
          {% endif %}
        {% endcapture %}    
        {% endfor %}
          
      {% unless upsell == blank %}    
      <div class="upsell-container">
        {% if settings.upsell_heading != blank %}                
        <h3>{{ settings.upsell_heading | upcase }}</h3>
        {% endif %}  
        {{upsell}}
      </div>
      {% endunless %}  
      {% endif %}    
      <!-- custom code snippet for Upsell items collection ends here -->
